@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

:root {
  --sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --zilla: "Zilla Slab", serif;
}

.navbar1,
.navbar,
.copy {
  background-image: url(./images/dust_scratches.png); 
}
.container {
  background-image: url(./images/hospital2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 0rem;
}
.navbar1 > h2 {
  color: black;
  font-style: var(--poppins);
}
.navbar {
  
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 2rem;
}

.nav-menu {
  margin-bottom: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style-type: none;
  font-size: 2rem;
  font-family: var(--poppins);
  font-weight: bold;
  list-style: none;
  padding-bottom: 0rem;
}

 .nav-links {
  color: black;
  text-decoration: none;
  padding:1rem; 
  padding-bottom: 5rem;
} 

.nav-item > .active > li {
  background-color: rgb(0, 0, 0);
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
} 

 .menu-icon {
  display: none;
} 

 nav li {
  padding: 1rem 1rem;
} 

.signup {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.container {
  padding-top: 1rem;
}
.img {
  margin: 2rem;
}

.contactinfo,
.hours {
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
}

.contactinfo {
  margin-right: 2rem;
}
.login,
.appointment,
.contact   {
  padding-bottom: 15rem;
  margin-left: 2rem;
}
.user{
  font-weight: bold;
}
.patientInfo{
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.copy {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  background-color: white;
  color: black;
}

.clinicInfo{
  padding-bottom: 2rem;
}

 @media screen and (max-width: 600px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    position: absolute;
    top: 7rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: grey;
    left: 0;
    opacity: 0.8;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    color: black;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .menu-icon {
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .fa-bars,
  .fa-times {
    position: absolute;
    left: 2rem;
    top: 1rem;
    color: black;
    font-size: 3rem;
  } 
 }
  /* .in-line {
    background-image: url("./images/mochaGrunge.png");
  } */
/* } */
/* @media screen and (max-width: 500px){

  .list {
      flex-direction: column;
      height: auto;
  }
  .items:nth-child(1){
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      margin-top: 50px;
  }
  .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
  }
  .btn {
      display: block;
  }

} */
