@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

:root {
  --sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --zilla: "Zilla Slab", serif;
}
nav,
.footer {
  background-image: url("./images/mochaGrunge.png");
}
nav ul {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  border-bottom: white 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: var(--poppins);
  font-weight: bold;
}

nav li {
  padding: 1rem 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
}
.title {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0rem;
  padding-left: 1rem;
}

.form-input {
  width: 20rem;
}
.img {
  margin: 2rem;
}
.homeContainer {
  background-image: url("./images/dust_scratches.png");
}

.contactinfo,
.hours {
  color: white;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}
.hours {
  margin-left: 2rem;
}
.contactinfo {
  margin-right: 2rem;
}
.login {
  margin-bottom: 6rem;
}
.imgclinic{
  margin-bottom: 3rem;
}